<h1>Cities</h1>

<p>Here's a list of Cities: feel free to play with it.</p>

<p *ngIf="!this.cities"><em>Loading...</em></p>
<button mat-flat-button class="btn-add" *ngIf="this.cities" [routerLink]="['/city']">Add a new city</button>
<mat-form-field [hidden]="!cities">
    <input matInput #filter (keyup)="onFilterTextChanged(filter.value)" placeholder="Filter by name (or part of it)...">
</mat-form-field>

<table 
    mat-table [hidden]="!cities" 
    class="mat-elevation-z8"
    [dataSource]="cities"
    [hidden]="!cities"
    matSort (matSortChange)="loadData()"
    [matSortActive]="defaultSortColumn"
    [matSortDirection]="defaultSortOrder"
    >
    <!-- Id row -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let city">{{ city.id }}</td>
    </ng-container>

    <!-- Name row -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <th mat-header-cell *matHeaderCellDef >Name</th>
        <td mat-cell *matCellDef="let city"><a [routerLink]="['/city-edit', city.id]">{{city.name}}</a></td>
    </ng-container>

    <!-- Lon row -->
    <ng-container matColumnDef="lon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
        <td mat-cell *matCellDef="let city">{{city.lon}}</td>
    </ng-container>

    <!-- Lat row -->
    <ng-container matColumnDef="lat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
        <td mat-cell *matCellDef="let city">{{city.lat}}</td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let city"><a [routerLink]="['/country-edit', city.countryId]">{{ city.countryName }}</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator 
(page)="getData($event)"
[hidden]="!cities"
[pageSize]="10"
[pageSizeOptions]="[10, 20, 50]"
showFirstLastButtons
>
</mat-paginator>
<!-- 
<table [hidden]="!cities">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lat</th>
            <th>Lon</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{ city.id }}</td>
            <td>{{ city.name }}</td>
            <td>{{ city.lat }}</td>
            <td>{{ city.lon }}</td>
        </tr>
    </tbody>
</table> -->